.task {
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
}

.task h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
}

.description {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.assignee {
  text-align: center;
  margin-bottom: 15px;
}

.low {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.medium {
  background-color: #fbbf24;
}

.high {
  background-color: #ef4444;
}

.editContainer {
  display: flex;
  justify-content: center;
}

.editContainer a {
  font-size: 18px;
  padding: 4px 8px;
  background-color: #86efac;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}
