.container {
  background-color: white;
  flex-grow: 1;
  border: 3px solid #60a5fa;
  border-right: none;
  border-radius: 15px 15px 15px 15px;
  margin-right: 5px;
  padding: 20px;
}

.container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #42597d;
  margin: 0 20%;
  padding: 40px;
  border-radius: 10px;
}

.inputField {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 5px;
  font-size: 22px;
  border: none;
}

.inputField select, .inputField textarea {
  font-size: inherit;
  border-radius: 5px;
}

.inputField label {
  font-size: 24px;
  color: #fff;
  border-radius: 5px;
  width: 150px;
}

.inputField input {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn {
  --color: #00bfff;
  font-family: inherit;
  display: inline-block;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  padding: 5px 10px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 10px;
  position: relative;
  text-decoration: none;
}

.btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 180px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.btn:hover {
  color: white;
}

.btn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.btn:hover::before {
  top: -60px;
  left: -10px;
}

.submit {
  font-size: 22px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fbbf24;
}
