.footer {
  background-color: #60a5fa;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:link,
.footer a:visited {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer a:hover,
.footer a:active {
  color: #1e293b;
}

.footer i {
  font-size: 25px;
}
